In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv(r'')

In [3]:
df.head()

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
0,2022-01-01,S001,P0096,Toys,West,158,134,142,152.36,40.88,5,Sunny,1,42.39,Winter
1,2022-01-01,S001,P0016,Clothing,East,189,127,125,150.47,90.78,0,Rainy,0,84.16,Winter
2,2022-01-01,S001,P0031,Electronics,West,75,48,39,68.62,13.99,20,Rainy,0,12.67,Winter
3,2022-01-01,S001,P0159,Electronics,West,161,74,71,75.46,84.92,10,Snowy,0,83.03,Winter
4,2022-01-01,S001,P0129,Furniture,South,135,66,69,67.18,19.66,0,Cloudy,0,20.55,Winter

In [5]:
df.columns

Index(['Date', 'Store ID', 'Product ID', 'Category', 'Region',
       'Inventory Level', 'Units Sold', 'Units Ordered', 'Demand Forecast',
       'Price', 'Discount', 'Weather Condition', 'Holiday/Promotion',
       'Competitor Pricing', 'Seasonality'],
      dtype='object')

In [6]:
df.dtypes

Date                   object
Store ID               object
Product ID             object
Category               object
Region                 object
Inventory Level         int64
Units Sold              int64
Units Ordered           int64
Demand Forecast       float64
Price                 float64
Discount                int64
Weather Condition      object
Holiday/Promotion       int64
Competitor Pricing    float64
Seasonality            object
dtype: object

In [7]:
df.isnull().sum()

Date                  0
Store ID              0
Product ID            0
Category              0
Region                0
Inventory Level       0
Units Sold            0
Units Ordered         0
Demand Forecast       0
Price                 0
Discount              0
Weather Condition     0
Holiday/Promotion     0
Competitor Pricing    0
Seasonality           0
dtype: int64

In [8]:
df.duplicated().sum()

0

In [9]:
df.describe()

,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Holiday/Promotion,Competitor Pricing
count,109500.000000,109500.000000,109500.000000,109500.000000,109500.000000,109500.000000,109500.00000,109500.000000
mean,145.705954,96.724356,96.302320,108.003150,55.023588,7.517397,0.15011,55.011232
std,48.301634,36.948147,38.630996,38.319878,25.996368,6.446679,0.35718,26.217801
min,20.000000,0.000000,20.000000,0.000000,10.000000,0.000000,0.00000,9.080000
25%,112.000000,71.000000,69.000000,81.960000,32.520000,0.000000,0.00000,32.400000
50%,143.000000,93.000000,92.000000,105.710000,54.980000,5.000000,0.00000,54.830000
75%,176.000000,118.000000,119.000000,130.940000,77.620000,10.000000,0.00000,77.362500
max,443.000000,342.000000,362.000000,337.950000,100.000000,20.000000,1.00000,109.820000

In [12]:
df['Category'].unique()  # if you have a 'category' column

array(['Toys', 'Clothing', 'Electronics', 'Furniture', 'Groceries'],
      dtype=object)