In [1]:
import pandas as pd
import mysql.connector

In [2]:
csv_file = r"C:\Users\DIPIKA VISHWAKARMA\Desktop\inventary_project\data\raw_data\inventory_forecasting.csv"
df = pd.read_csv(csv_file)

In [3]:
df.columns = df.columns.str.strip()

# Rename columns to match SQL table
df.rename(columns={
    'Store ID': 'Store_ID',
    'Product ID': 'Product_ID',
    'Inventory Level': 'Inventory',
    'Units Sold': 'Units_Sold',
    'Units Ordered': 'Units_Ordered',
    'Demand Forecast': 'Demand_Forecast',
    'Weather Condition': 'Weather_Condition',
    'Holiday/Promotion': 'Holiday_Promotion',
    'Competitor Pricing': 'Competition'
}, inplace=True)

In [4]:
df.shape

(109500, 15)

In [5]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="pink#123",  # <-- apna MySQL password
  database="inventory_project"
)

mycursor = mydb.cursor()

In [6]:
for index, row in df.iterrows():
    sql = """
    INSERT INTO Raw_Inventory 
    (Date, Store_ID, Product_ID, Category, Region, Inventory, Units_Sold, Units_Ordered, Demand_Forecast, Price, Discount, Weather_Condition, Holiday_Promotion, Competition, Seasonality) 
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    
    # Instead of tuple(row), we manually extract columns in correct order
    values = (
        str(row['Date']),
        str(row['Store_ID']),
        str(row['Product_ID']),
        str(row['Category']),
        str(row['Region']),
        int(row['Inventory']),
        int(row['Units_Sold']),
        int(row['Units_Ordered']),
        float(row['Demand_Forecast']),
        float(row['Price']),
        float(row['Discount']),
        str(row['Weather_Condition']),
        int(row['Holiday_Promotion']),
        float(row['Competition']),
        str(row['Seasonality'])
    )

    mycursor.execute(sql, values)

    if index % 500 == 0:
        print(f"{index} rows inserted...")

mydb.commit()
print(f"âœ… Total {index+1} rows inserted.")

mycursor.close()
mydb.close()

0 rows inserted...
500 rows inserted...
1000 rows inserted...
1500 rows inserted...
2000 rows inserted...
2500 rows inserted...
3000 rows inserted...
3500 rows inserted...
4000 rows inserted...
4500 rows inserted...
5000 rows inserted...
5500 rows inserted...
6000 rows inserted...
6500 rows inserted...
7000 rows inserted...
7500 rows inserted...
8000 rows inserted...
8500 rows inserted...
9000 rows inserted...
9500 rows inserted...
10000 rows inserted...
10500 rows inserted...
11000 rows inserted...
11500 rows inserted...
12000 rows inserted...
12500 rows inserted...
13000 rows inserted...
13500 rows inserted...
14000 rows inserted...
14500 rows inserted...
15000 rows inserted...
15500 rows inserted...
16000 rows inserted...
16500 rows inserted...
17000 rows inserted...
17500 rows inserted...
18000 rows inserted...
18500 rows inserted...
19000 rows inserted...
19500 rows inserted...
20000 rows inserted...
20500 rows inserted...
21000 rows inserted...
21500 rows inserted...
22000 rows inserted...
22500 rows inserted...
23000 rows inserted...
23500 rows inserted...
24000 rows inserted...
24500 rows inserted...
25000 rows inserted...
25500 rows inserted...
26000 rows inserted...
26500 rows inserted...
27000 rows inserted...
27500 rows inserted...
28000 rows inserted...
28500 rows inserted...
29000 rows inserted...
29500 rows inserted...
30000 rows inserted...
30500 rows inserted...
31000 rows inserted...
31500 rows inserted...
32000 rows inserted...
32500 rows inserted...
33000 rows inserted...
33500 rows inserted...
34000 rows inserted...
34500 rows inserted...
35000 rows inserted...
35500 rows inserted...
36000 rows inserted...
36500 rows inserted...
37000 rows inserted...
37500 rows inserted...
38000 rows inserted...
38500 rows inserted...
39000 rows inserted...
39500 rows inserted...
40000 rows inserted...
40500 rows inserted...
41000 rows inserted...
41500 rows inserted...
42000 rows inserted...
42500 rows inserted...
43000 rows inserted...
43500 rows inserted...
44000 rows inserted...
44500 rows inserted...
45000 rows inserted...
45500 rows inserted...
46000 rows inserted...
46500 rows inserted...
47000 rows inserted...
47500 rows inserted...
48000 rows inserted...
48500 rows inserted...
49000 rows inserted...
49500 rows inserted...
50000 rows inserted...
50500 rows inserted...
51000 rows inserted...
51500 rows inserted...
52000 rows inserted...
52500 rows inserted...
53000 rows inserted...
53500 rows inserted...
54000 rows inserted...
54500 rows inserted...
55000 rows inserted...
55500 rows inserted...
56000 rows inserted...
56500 rows inserted...
57000 rows inserted...
57500 rows inserted...
58000 rows inserted...
58500 rows inserted...
59000 rows inserted...
59500 rows inserted...
60000 rows inserted...
60500 rows inserted...
61000 rows inserted...
61500 rows inserted...
62000 rows inserted...
62500 rows inserted...
63000 rows inserted...
63500 rows inserted...
64000 rows inserted...
64500 rows inserted...
65000 rows inserted...
65500 rows inserted...
66000 rows inserted...
66500 rows inserted...
67000 rows inserted...
67500 rows inserted...
68000 rows inserted...
68500 rows inserted...
69000 rows inserted...
69500 rows inserted...
70000 rows inserted...
70500 rows inserted...
71000 rows inserted...
71500 rows inserted...
72000 rows inserted...
72500 rows inserted...
73000 rows inserted...
73500 rows inserted...
74000 rows inserted...
74500 rows inserted...
75000 rows inserted...
75500 rows inserted...
76000 rows inserted...
76500 rows inserted...
77000 rows inserted...
77500 rows inserted...
78000 rows inserted...
78500 rows inserted...
79000 rows inserted...
79500 rows inserted...
80000 rows inserted...
80500 rows inserted...
81000 rows inserted...
81500 rows inserted...
82000 rows inserted...
82500 rows inserted...
83000 rows inserted...
83500 rows inserted...
84000 rows inserted...
84500 rows inserted...
85000 rows inserted...
85500 rows inserted...
86000 rows inserted...
86500 rows inserted...
87000 rows inserted...
87500 rows inserted...
88000 rows inserted...
88500 rows inserted...
89000 rows inserted...
89500 rows inserted...
90000 rows inserted...
90500 rows inserted...
91000 rows inserted...
91500 rows inserted...
92000 rows inserted...
92500 rows inserted...
93000 rows inserted...
93500 rows inserted...
94000 rows inserted...
94500 rows inserted...
95000 rows inserted...
95500 rows inserted...
96000 rows inserted...
96500 rows inserted...
97000 rows inserted...
97500 rows inserted...
98000 rows inserted...
98500 rows inserted...
99000 rows inserted...
99500 rows inserted...
100000 rows inserted...
100500 rows inserted...
101000 rows inserted...
101500 rows inserted...
102000 rows inserted...
102500 rows inserted...
103000 rows inserted...
103500 rows inserted...
104000 rows inserted...
104500 rows inserted...
105000 rows inserted...
105500 rows inserted...
106000 rows inserted...
106500 rows inserted...
107000 rows inserted...
107500 rows inserted...
108000 rows inserted...
108500 rows inserted...
109000 rows inserted...
âœ… Total 109500 rows inserted.